<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AerolineaConexion"
			 connectionString="Integrated Security=True;Initial Catalog=ProyectoAerolinea;Data Source=DESKTOP-EE7KSG7\SQLEXPRESS01; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>